Review Lecture 2/23
- partner assignment
- iloc vs loc
- apply vs transform vs agg
- groupby
- review HW 4 and give hints

In [9]:
import pandas as pd #importing pandas
import numpy as np #importing numpy

#creating dataframe with title, rating, genre, and date release. keys in dictionary should have same amount of values in order for the dataframe to work
df = pd.DataFrame({'Title': ['Avatar', 'Avengers', 'Terminator', 'Matrix', 'Jurassic Park'], 
                   'Rating': [8.0, 9.0, 10.0, np.nan, 8.0], 
                   'Genre': ['SciFi', 'Action', 'Action', 'SciFi', 'Action'],
                  'Date Released': ['1/2/2020', '3/8/2015', '10/17/2006', '12/25/1999', '6/6/2007']})


df

           Title  Rating   Genre Date Released
0         Avatar     8.0   SciFi      1/2/2020
1       Avengers     9.0  Action      3/8/2015
2     Terminator    10.0  Action    10/17/2006
3         Matrix     NaN   SciFi    12/25/1999
4  Jurassic Park     8.0  Action      6/6/2007

In [10]:
df.dtypes #checks to see what time each column is          using dtype to check every single column

Title             object
Rating           float64
Genre             object
Date Released     object
dtype: object

In [11]:
df['Title'] #grabbing Title column from dataframe

0           Avatar
1         Avengers
2       Terminator
3           Matrix
4    Jurassic Park
Name: Title, dtype: object

In [12]:
type(df['Title']) #checks to see what the type is when returning df['Title'] which in this case is a series,       using type to check specific column

pandas.core.series.Series

Differences between iloc and loc

- loc (label based)
- iloc (index based

In [13]:
df #calling df for reference

           Title  Rating   Genre Date Released
0         Avatar     8.0   SciFi      1/2/2020
1       Avengers     9.0  Action      3/8/2015
2     Terminator    10.0  Action    10/17/2006
3         Matrix     NaN   SciFi    12/25/1999
4  Jurassic Park     8.0  Action      6/6/2007

In [5]:
df.iloc[0] #getting index 0 from the dataframe which returns information for row with avatar

Title              Avatar
Rating                  8
Genre               SciFi
Date Released    1/2/2020
Name: 0, dtype: object

In [15]:
df.loc[0] #getting the label 0 from dataframe which returns information for row with avatar, the reason both loc and iloc work with 0 is because its coincidence that the label is 0 and the index is 0

Title              Avatar
Rating                  8
Genre               SciFi
Date Released    1/2/2020
Name: 0, dtype: object

In [16]:
df.index = ['a', 'a', 'c', 'c', 'd']   #using .index to change the index labels,   
df

           Title  Rating   Genre Date Released
a         Avatar     8.0   SciFi      1/2/2020
a       Avengers     9.0  Action      3/8/2015
c     Terminator    10.0  Action    10/17/2006
c         Matrix     NaN   SciFi    12/25/1999
d  Jurassic Park     8.0  Action      6/6/2007

In [17]:
df.index = [x for x in range(1, 6)] #using .index to change the index lables from one to five (six excluded) using range and list comprehension
df

           Title  Rating   Genre Date Released
1         Avatar     8.0   SciFi      1/2/2020
2       Avengers     9.0  Action      3/8/2015
3     Terminator    10.0  Action    10/17/2006
4         Matrix     NaN   SciFi    12/25/1999
5  Jurassic Park     8.0  Action      6/6/2007

In [35]:
df.loc[1] #gets label 1 which returns avatar

Title              Avatar
Rating                  8
Genre               SciFi
Date Released    1/1/2020
Name: 1, dtype: object

In [18]:
df.iloc[0] #gets index 0 which returns avatar

Title              Avatar
Rating                  8
Genre               SciFi
Date Released    1/2/2020
Name: 1, dtype: object

In [19]:
df.loc[0] #gets an error because there is no label now with 0

KeyError: 0

In [20]:
df = df.set_index('Title')    #setting the index to the titles of the movies column
df

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Matrix            NaN   SciFi    12/25/1999
Jurassic Park     8.0  Action      6/6/2007

In [37]:
df.loc['Avatar'] #using loc and getting information for the row with label Avatar

Rating                  8
Genre               SciFi
Date Released    1/1/2020
Name: Avatar, dtype: object

In [38]:
df.loc['Avatar', 'Rating'] #gets information from row label Avatar and column Ratings which is the rating for the specific movie avatar     dataframe.loc[row, column]

8.0

In [40]:
df.loc['Avatar']['Rating'] #gets the same thing, gets information from row label Avatar and column Ratings which is the rating for the specific movie avatar    dataframe.loc[row][column]

8.0

In [45]:
df.loc['Avatar', ['Genre', 'Rating']] #gets information from row avatar and columns Genre and Rating and turns information as a series      dataframe.loc[row, [column1, column2]]

Genre     SciFi
Rating        8
Name: Avatar, dtype: object

In [44]:
df.loc[['Avatar', 'Avengers'], ['Genre', 'Rating']] #gets information for row avatar and avangers with the data from Genre and Ratings and returns as dataframe due to extra brackets    dataframe.loc[[row1, row2], [column1, column2]]

           Genre  Rating
Title
Avatar     SciFi     8.0
Avengers  Action     9.0

In [23]:
df.loc[['Avatar', 'Avengers'], ['Genre', 'Rating']].loc['Avatar'] #gets information as a dataframe then you chain another loc to get information from avatar which returns a series

Genre     SciFi
Rating        8
Name: Avatar, dtype: object

In [24]:
df.iloc[0, 1] #gets index for row 0 which is avatar and column 1 which is genre that returns scifi, is a series

'SciFi'

In [25]:
df.iloc[2:4] #gets information from rows 2 to 4 (exclusive) as a dataframe

            Rating   Genre Date Released
Title
Terminator    10.0  Action    10/17/2006
Matrix         NaN   SciFi    12/25/1999

In [26]:
df.iloc[2:4, 0:2] #gets information from rows 2 to 4 (exclusive) and columns 0 to 2 (exclusive) and returns dataframe

            Rating   Genre
Title
Terminator    10.0  Action
Matrix         NaN   SciFi

In [47]:
df.iloc[2:4, 0:2].loc['Terminator'] #gets information from rows 2 to 4 (exclusive) and columns 0 to 2 (exclusive) then attaches an loc to only get information from Terminator which reutrns a series of data specific to terminator

Rating        10
Genre     Action
Name: Terminator, dtype: object

In [28]:
df #calling df for reference

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Matrix            NaN   SciFi    12/25/1999
Jurassic Park     8.0  Action      6/6/2007

apply, applymap, transform, agg, groupby

In [29]:
def mystery(x): #create function called mystery uses x
    print(x) #prints x

df.apply(mystery) #dataframe that applies the function mystery, return series with everysingle column for every row seperately

Title
Avatar             8
Avengers           9
Terminator        10
Matrix           NaN
Jurassic Park      8
Name: Rating, dtype: object
Title
Avatar            SciFi
Avengers         Action
Terminator       Action
Matrix            SciFi
Jurassic Park    Action
Name: Genre, dtype: object
Title
Avatar             1/2/2020
Avengers           3/8/2015
Terminator       10/17/2006
Matrix           12/25/1999
Jurassic Park      6/6/2007
Name: Date Released, dtype: object

Rating           None
Genre            None
Date Released    None
dtype: object

In [30]:
def mystery(x): #create function called mystery uses x
    print(x) #print(c)

df.apply(mystery, axis = 1) #dataframe that applies the function mystery, now has 5 series, each series is the row (movie name)

Rating                  8
Genre               SciFi
Date Released    1/2/2020
Name: Avatar, dtype: object
Rating                  9
Genre              Action
Date Released    3/8/2015
Name: Avengers, dtype: object
Rating                   10
Genre                Action
Date Released    10/17/2006
Name: Terminator, dtype: object
Rating                  NaN
Genre                 SciFi
Date Released    12/25/1999
Name: Matrix, dtype: object
Rating                  8
Genre              Action
Date Released    6/6/2007
Name: Jurassic Park, dtype: object

Title
Avatar           None
Avengers         None
Terminator       None
Matrix           None
Jurassic Park    None
dtype: object

In [31]:
def mystery(x): #create function called mystery uses x
    print(x['Avatar']) #prints out information for avatar

df.apply(mystery) #dataframe that applies the function mystery, return series with information for avatar

8.0
SciFi
1/2/2020

Rating           None
Genre            None
Date Released    None
dtype: object

In [53]:
def mystery(x): #create function called mystery uses x
    print(x['Rating']) #prints out information for column Rating

df.apply(mystery, axis = 1)  #dataframe that applies the function mystery, all information falling under column which is the ratings for all the movies

8.0
9.0
10.0
nan
8.0

Title
Avatar           None
Avengers         None
Terminator       None
Matrix           None
Jurassic Park    None
dtype: object

In [54]:
def function(x):  #creates function that uses x
    return 0 #returns 0

df.applymap(function) #dataframe that applies the function mystery to every single cell, returns dataframe with all data now 0

               Rating  Genre  Date Released
Title
Avatar              0      0              0
Avengers            0      0              0
Terminator          0      0              0
Matrix              0      0              0
Jurassic Park       0      0              0

In [32]:
df

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Matrix            NaN   SciFi    12/25/1999
Jurassic Park     8.0  Action      6/6/2007

In [33]:
def get_year(row): #create function get_year that works with row
    x = row['Date Released'].split('/') #creates variable x that takes the specific row and column Data Release and splits the date by the /
    return x[-1] #returns the last index from the list which is the year

df.apply(get_year, axis=1) #dataframe applies the function at the column (axis = 1 means column) and returns a series with the title and the release year

Title
Avatar           2020
Avengers         2015
Terminator       2006
Matrix           1999
Jurassic Park    2007
dtype: object

In [34]:
import re #import regex in a apply function
def get_year(row): #create function get_year that works with row
    pattern = '(\d+)/(\d+)/(\d+)' #creating variable pattern that matches the format of dates, will return a tuple with 3 seperate items because of the capture groups
    x = re.findall(pattern, row['Date Released']) #creates variable x that finds all the data from column Date Released for each row
    return x[0][-1] #gets the tuple 0 and the last item in that tuple which is the year

df.apply(get_year, axis=1) #dataframe applies the function at the column (axis = 1 means column) and returns a series with the title and the release year

Title
Avatar           2020
Avengers         2015
Terminator       2006
Matrix           1999
Jurassic Park    2007
dtype: object

In [35]:
df

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Matrix            NaN   SciFi    12/25/1999
Jurassic Park     8.0  Action      6/6/2007

In [65]:
df.groupby('Genre') #if you just do dataframe and group by which ever column you will get a groupby object

In [37]:
#in order to see the contents you are going to have to iterate through
for group, frame in df.groupby('Genre'): #for loop establishing two iterables group and frame and applying groupby to dataframe through column Genre
    print(group, '\n\n') #prints group which is all the items in column Genre (action, scifi)      \n\n just creates new lines
    print(frame, '\n\n') #prints frame which is all the information that falls into the two groups  \n\n just creates new lines

Action


               Rating   Genre Date Released
Title
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Jurassic Park     8.0  Action      6/6/2007


SciFi


        Rating  Genre Date Released
Title
Avatar     8.0  SciFi      1/2/2020
Matrix     NaN  SciFi    12/25/1999

In [36]:
for group, frame in df.groupby('Genre'): #for loop establishing two iterables group and frame and applying groupby to dataframe through column Genre
    highest_rating_movie = frame[frame['Rating'] == frame['Rating'].max()] #creates variable highest_rating_movie and utilizes masking to take rating from the frame and make it equal to the max rating for each frame. Because for loop, iterates through both genre frames
    print(highest_rating_movie) #prints highest_rating_movie

            Rating   Genre Date Released
Title
Terminator    10.0  Action    10/17/2006
        Rating  Genre Date Released
Title
Avatar     8.0  SciFi      1/2/2020

In [38]:
df

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Matrix            NaN   SciFi    12/25/1999
Jurassic Park     8.0  Action      6/6/2007

agg creates a table of summary statistics depending on what columns you specify (can pass in a function, or a dictionary

In [39]:
df.groupby('Genre').agg({'Rating': np.average}) #dataframe grouped by Genre and uses agg to get the average of the ratings for both genres and returns a dataframe with the information. scifi is nan because can't get an average with nan

        Rating
Genre
Action     9.0
SciFi      NaN

In [40]:
df = df.dropna() #dropping na from dataframe
df

               Rating   Genre Date Released
Title
Avatar            8.0   SciFi      1/2/2020
Avengers          9.0  Action      3/8/2015
Terminator       10.0  Action    10/17/2006
Jurassic Park     8.0  Action      6/6/2007

In [41]:
df.groupby('Genre').agg({'Rating': np.nanmean}) #dataframe grouped by genre and getting the mean of Rating but not applying anything with nan. returns dataframe with relevant information

        Rating
Genre
Action     9.0
SciFi      8.0

transform is useful when you want to attach an additional column to your exisitng dataframe(can pass in a function)

In [42]:
df.groupby('Genre').transform(np.nanmean) #dataframe grouped by genre column and gets an average for each rating in the column rating

               Rating
Title
Avatar            8.0
Avengers          9.0
Terminator        9.0
Jurassic Park     9.0

In [43]:
df = df.rename(columns={'Rating': 'Critic'})  #renaming column rating to critic

In [49]:
df['Audience Rating'] = [10, 10, 9, 9] #creating column audience rating with ratings for movies
df

               Critic   Genre Date Released  Group Means  Audience Rating
Title
Avatar            8.0   SciFi      1/2/2020          8.0               10
Avengers          9.0  Action      3/8/2015          9.0               10
Terminator       10.0  Action    10/17/2006          9.0                9
Jurassic Park     8.0  Action      6/6/2007          9.0                9

In [53]:
df['Group Means'] = df.groupby('Genre').transform(np.nanmean) #tries to apply nanmean to whichever column it can 
#df.dtypes

In [54]:
df

           Title  Critic   Genre Date Released  Group Means  Audience Rating
0         Avatar     8.0   SciFi      1/2/2020          8.0               10
1       Avengers     9.0  Action      3/8/2015          9.0               10
2     Terminator    10.0  Action    10/17/2006          9.0                9
3  Jurassic Park     8.0  Action      6/6/2007          9.0                9

In [52]:
df = df.reset_index()
df

           Title  Critic   Genre Date Released  Group Means  Audience Rating
0         Avatar     8.0   SciFi      1/2/2020          8.0               10
1       Avengers     9.0  Action      3/8/2015          9.0               10
2     Terminator    10.0  Action    10/17/2006          9.0                9
3  Jurassic Park     8.0  Action      6/6/2007          9.0                9

Assignment 4