In [ ]:
'''
PBICPBBEALBOIRAUAAKNSWTTE
'''

In [3]:
#create a dataframe
# import pandas as pd
# pd.DataFrame({'A': ['P', 'B', 'I', 'C', 'P'], 'B': ['B', 'B', 'E', 'A', 'L'], 
#               'C': ['B', 'O', 'I', 'R', 'A'], 'D': ['U', 'A', 'A', 'K', 'N'], 
#               'E': ['S', 'W', 'T', 'T', 'E']}, index = ['1', '2', '3', '4', '5'])

   A  B  C  D  E
1  P  B  B  U  S
2  B  B  O  A  W
3  I  E  I  A  T
4  C  A  R  K  T
5  P  L  A  N  E

In [37]:
import pandas as pd
df= pd.DataFrame({'0': ['F', 'R', 'I', 'E', 'S'], '1': ['P', 'I', 'Z', 'Z', 'A'],
              '2': ['R', 'S', 'U', 'B', 'A'], '3': ['T', 'A', 'C', 'O', 'L'],
              '4': ['W', 'I', 'N', 'G', 'S']}, index = range(5))
df

   0  1  2  3  4
0  F  P  R  T  W
1  R  I  S  A  I
2  I  Z  U  C  N
3  E  Z  B  O  G
4  S  A  A  L  S

In [87]:
#guess the theme = Food
word1 = df.iloc[0:5, 0] #fries
word2 = df.loc[0:5, '1'] #pizza
word3 = df.iloc[[1, 2, 3], 2] #sub
word4 = df.iloc[['0', '1', '2', '3']]['3'] #taco
word5 = df.iloc[0:5, 4] #wings

0    F
1    R
2    I
3    E
4    S
Name: 0, dtype: object

In [75]:
import pandas as pd
ab = pd.DataFrame({'first': ['I', 'J', 'M', 'T', 'I'], 
              'second': ['D', 'U', 'A', 'E', 'O'],
              'third': ['A', 'T', 'I', 'X', 'W'],
              'fourth': ['H', 'A', 'N', 'A', 'A'],
              'fifth': ['O', 'H', 'E', 'S', 'I']},
              index = ['1', '2', '3', '4', '5'] )

In [39]:
#idaho = df.iloc[0:1,0:]
#texas = df.iloc[3:4, 0:] 
iowa = ab.loc[['5'],['first','second','third','fourth']]
#maine = df.iloc[2:3, 0:]
#utah = df.loc[['2'],['second','third','fourth', 'fifth']]

NameError: name 'ab' is not defined

In [ ]:
import pandas as pd
grocery = [{'Name':}]